<nav class="navbar">
    <div class="auths">
        <a href="" id="loginBtn">
            <i class="icofont-ui-user"></i>
        </a>
    </div>
    <div class="logo">
        <a href="/">
            <strong>U</strong><span>pload</span>
        </a>
    </div>
    <div class="utils">
        <button type="button">
            <i class="icofont-moon"></i>
        </button>
    </div>
</nav>